<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          À propos
         </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-card class="welcome-card">
    
        <ion-img src="/assets/park3.jpg"></ion-img>
          
        <ion-card-header>
          <ion-card-subtitle>Smart Parking</ion-card-subtitle>
          <ion-card-title style="color:darkgrey;font-size:medium"> Reservez Votre Place à distance </ion-card-title>
          <ion-card-title style="color:darkgrey;font-size:medium ;align-content: center">  Version : 2.0.1.9 </ion-card-title>

        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
      </ion-card>
    </ion-content>
