<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Contact
       </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    
    <ion-img src="/assets/contact.jpg"></ion-img>
      
    <ion-card-header>
      <ion-card-subtitle>Smart Parking</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>


      <ion-list>
        <ion-item>
            <ion-icon name="call">  </ion-icon>
          <ion-label style="margin-left: 10%">+216 75 227 485</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="at"></ion-icon>     
             <ion-label style="margin-left: 10%"> SmartParking@contact.com</ion-label>
          </ion-item>
        <ion-item>
            <ion-icon name="logo-facebook">  </ion-icon>
          <ion-label style="margin-left: 10%"> Smart Parking ISG Gabes</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="logo-twitter"></ion-icon>        
              <ion-label style="margin-left: 10%"> Smart Parking ISG Gabes</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
