<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>
        S'abonner  
       </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/park3.jpg"></ion-img>
    <ion-card-header>
    <ion-card-subtitle>Smart Parking</ion-card-subtitle>
    <ion-card-subtitle >Je suis abonné: <a  href="/home">Se connecter</a></ion-card-subtitle> 

    <ion-card-title>Abonnez-Vous</ion-card-title>
  </ion-card-header>
  <ion-card-content>

      <form (ngSubmit)="submitUserData()" >

        <ion-item>
           <ion-label position="floating">Nom</ion-label>
           <ion-input [(ngModel)]="user.nom"   name="nom" type="text" required></ion-input>
        </ion-item>

        <ion-item>
           <ion-label  position="floating">Prénom</ion-label>
           <ion-input [(ngModel)]="user.prenom" name="nom" type="text" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Télephone</ion-label>
            <ion-input [(ngModel)]="user.telephone" name="nom" type="number" required></ion-input>
        </ion-item>
       
        <ion-item>
            <ion-label  position="floating">E-mail</ion-label>
            <ion-input [(ngModel)]="user.email" name="nom"  type="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required></ion-input>
            <h3 style="color: red">{{message}}</h3>

       </ion-item>

       <ion-item>
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input  [(ngModel)]="user.password" name="nom"   type="password" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Confirmer Mot de pase</ion-label>
            <ion-input  [(ngModel)]="confirm" name="nom"   type="password" required></ion-input>
            <h3 style="color: red">{{showw}}</h3>
          </ion-item>

        <ion-item>
            <ion-label position="floating">Matricule de voiture</ion-label>
            <ion-input [(ngModel)]="user.matricule"     name="nom" type="text" required></ion-input>
        </ion-item>
<br>
        <ion-text>
        <h3 style="color: red">{{show}}</h3>
        <h3 style="color:green">{{showww}}</h3>

        </ion-text>
          <ion-button type="submit" expand="block">Envoyer</ion-button>
          <h2 style="text-align: center"> <a  href="/home">Se connecter</a></h2> 


</form>
    </ion-card-content>
  </ion-card>
</ion-content>
